@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.recentaddedpage-wrraper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    overflow: hidden;
    padding: 0px 30px;
}


.recentaddedpageName{
    width: 100%;
    height: 40px;
    /* background-color: #7575752a; */
    display: flex;
    justify-content: flex-start;
    padding-left: 26%;
    align-items: center;
    margin-top: 50px;
}

.recentaddedpageName p{
    font-size: 38px;
    font-family: "Salsa", cursive;
    color: #636363;
}


.recentaddedpagemain{
    width: 76%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    /* background-color: rgba(10, 10, 131, 0.178); */
    gap: 14px;
}

.recentaddedpage-container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.recentaddedpage-cart{
    width: 240px;
    height: 400px;
    overflow: hidden;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #e9e9e9;
    /* box-shadow: 1px 4px 4px #858585; */
}
.recentaddedpage-cart:hover{
    box-shadow: 3px 5px 5px #e4e4e4; 
}

.recentaddedpage-image{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}
.recentaddedpage-image img{
    width: 110px;
    height: 100%;
    border-radius: 0px;
    filter: blur(0px);
}

.recentaddedpage-textcontents{
    width: 90%;
    height: 55%;
    padding-top: 55px;
}
.recentaddedpage-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    color: #898989;
}
.recentaddedpage-textcontents h1{
    font-size: 14px;
    font-weight: 500;
    color: #3F3F3F;
    font-family: "Poppins", sans-serif;
    
}
.recentaddedpage-textcontents h3{
    font-size: 11px;
    margin-top: 6px;
    color: #ec1616;
}

.recentaddedpage-pricess{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.recentaddedpage-textcontents h4{
    font-size: 18px;
    color: #636363;
}
.recentaddedpage-textcontents h5{
    font-size: 18px;
    color: #ec1616;
}

.recentaddedpage-cart button{
    background-color: #D20E0E;
    width: 240px;
    height: 55px;
    color: white;
    font-weight: 500;
}
.recentaddedpage-cart button:hover{
    background-color: #af0808;
}



/* pagination code  */

.Recentaddedpagination {
    width: 100%;
    /* height: 10%; */
    /* background-color: #75a3d8; */
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 10px 22px;
    border: 1px solid #D20E0E;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #D20E0E;
  }
  
  .pagination-button.active {
    background-color: #D20E0E;
    color: #fff;
  }
  
  .pagination-button:hover {
    background-color: #D20E0E;
    color: #fff;
  }




@media only screen and (max-width: 1200px){

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 76%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 260px;
        height: 430px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 260px;
        height: 55px;
        color: white;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1200px){

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 76%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 240px;
        height: 420px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 240px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-textcontents h1{
        font-size: 14px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }
    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    
}

@media only screen and (max-width: 1030px){

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 76%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 220px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 220px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 120px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }
    .recentaddedpage-textcontents h3{
        font-size: 8px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    .recentaddedpage-reviews{
        gap: 3px;
        font-size: 12px;
    }

    .recentaddedpage-textcontents h4{
        font-size: 15px;
        margin-top: 0px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 15px;
        margin-top: 0px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 950px){

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 76%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 200px;
        height: 360px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 200px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }
    .recentaddedpage-textcontents h3{
        font-size: 8px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    .notebooks-reviews{
        gap: 3px;
        font-size: 12px;
    }
    
    .recentaddedpage-textcontents h4{
        font-size: 14px;
        margin-top: 0px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 14px;
        margin-top: 0px;
        color: #ec1616;
    }
}

@media only screen and (max-width: 870px){


    .recentaddedpage-wrraper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 30px;
    }

    .recentaddedpageName{
        width: 100%;
        height: 8vh;
        /* background-color: #7575752a; */
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        align-items: center;
        margin-top: 10px;
    }

    .recentaddedpageName p{
        font-size: 32px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 250px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 250px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 120px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 14px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }
    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    .recentaddedpage-reviews{
        gap: 3px;
        font-size: 12px;
    }
    
    .recentaddedpage-textcontents h4{
        font-size: 17px;
        margin-top: 0px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 17px;
        margin-top: 0px;
        color: #ec1616;
    }
}

@media only screen and (max-width: 835px){

    .notebooks-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName{
        width: 100%;
        height: 8vh;
        /* background-color: #7575752a; */
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
        margin-top: 10px;
    }
    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 240px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 240px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 785px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 220px;
        height: 380px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 220px;
        height: 55px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 9px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 15px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 15px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 735px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 200px;
        height: 360px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 200px;
        height: 45px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 9px;
        margin-top: 6px;
        color: #ec1616;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 14px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 14px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 660px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 180px;
        height: 340px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 180px;
        height: 40px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 10px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 8px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 14px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 14px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 610px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(252, 11, 3, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 260px;
        height: 380px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 260px;
        height: 45px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 16px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 16px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 580px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 240px;
        height: 370px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 240px;
        height: 45px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12   px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 16px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 16px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 535px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 220px;
        height: 370px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 220px;
        height: 45px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12   px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 16px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 16px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 495px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 200px;
        height: 360px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 200px;
        height: 45px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 12   px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 14px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 14px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 455px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 180px;
        height: 330px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 180px;
        height: 45px;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 110px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 10px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 8px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 14px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 14px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 410px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 160px;
        height: 310px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 160px;
        height: 40px;
        font-size: 10px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 9px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-textcontents h3{
        font-size: 7px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 1px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 12px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 12px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 375px){

    .recentaddedpage-wrraper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .recentaddedpageName p{
        font-size: 34px;
        font-family: "Salsa", cursive;
        color: #636363;
    }

    .recentaddedpagemain{
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-content: center;
        /* background-color: rgba(10, 10, 131, 0.178); */
        gap: 14px;
    }
    
    .recentaddedpage-cart{
        width: 320px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 320px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-image img{
        width: 130px;
        height: 100%;
        border-radius: 0px;
    }
    .recentaddedpage-textcontents h1{
        font-size: 16px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
    }

    .recentaddedpage-textcontents h3{
        font-size: 10px;
        margin-top: 6px;
        color: #ec1616;
    }

    .recentaddedpage-reviews{
        gap: 3px;
        font-size: 14px;
    }
    
    .recentaddedpage-pricess{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }
    .recentaddedpage-textcontents h4{
        font-size: 18px;
        color: #636363;
    }
    .recentaddedpage-textcontents h5{
        font-size: 18px;
        color: #ec1616;
    }
    
}

@media only screen and (max-width: 350px){

    .recentaddedpageName p{
        font-size: 28px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 300px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 300px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    
}

@media only screen and (max-width: 335px){

    .recentaddedpageName p{
        font-size: 28px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 280px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 280px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    
}

@media only screen and (max-width: 315px){

    .recentaddedpageName p{
        font-size: 26px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 260px;
        height: 400px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 260px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-textcontents h1{
        font-size: 14px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    
}

@media only screen and (max-width: 290px){

    .recentaddedpageName p{
        font-size: 26px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 240px;
        height: 380px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 240px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-textcontents h1{
        font-size: 14px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    
}

@media only screen and (max-width: 278px){

    .recentaddedpageName p{
        font-size: 26px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 220px;
        height: 360px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 220px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }

    .recentaddedpage-textcontents h1{
        font-size: 12px;
        font-weight: 600;
        color: #3F3F3F;
        font-family: "Poppins", sans-serif;
        
    }

    .recentaddedpage-image img{
        width: 100px;
        height: 100%;
        border-radius: 0px;
    }

    
}

@media only screen and (max-width: 265px){

    .recentaddedpageName p{
        font-size: 24px;
        font-family: "Salsa", cursive;
        color: #636363;
    }
    
    .recentaddedpage-cart{
        width: 200px;
        height: 360px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #e9e9e9;
    }

    .recentaddedpage-cart button{
        background-color: #D20E0E;
        width: 200px;
        height: 55px;
        font-size: 14px;
        color: white;
        font-weight: 500;
    }
}

